[Unit]
Description=ares web echo server
ConditionPathExists=/home/ubuntu/code/pugnasAres
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/code/pugnasAres
ExecStartPre=go build /home/ubuntu/code/pugnasAres
ExecStart=/home/ubuntu/code/pugnasAres/pugnasares
StandardError=file:/home/ubuntu/code/pugnasAres/logs/error.log
StandardOutput=file:/home/ubuntu/code/pugnasAres/logs/output.log
Restart=on-failure
RestartSec=10
SyslogIdentifier=ares
AmbientCapabilities=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target
